<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="icon" type="image/png"
    href="https://www.iconarchive.com/download/i90773/icons8/windows-8/Food-Restaurant-2.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/scripts/validate.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/scroll.js"></script>
</head>

<body>
  <!-- nav bar -->
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-light">
      <a class="navbar-brand" id="nav-brand" href="/">Kevin Bacout</a>
      <a class="navbar-brand" id="nav-brand" href="#menu">Menu</a>
      <div class="collapse navbar-collapse" id="nav-bar">
        <div class="navbar-nav" id="login-options">
          <% if(user) { %>
          <%- include('partials/logoutHeader') %>
          <a class="navbar-brand" id="nav-brand" href="#history-container">Recent Orders</a>
          <% } else { %>
          <%- include('partials/loginHeader') %>
          <% } %>
        </div>
      </div>

      <div class="dropdown" id="cart">
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#ModalCart">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
          <span class="badge badge-pill badge-danger cart-number">0</span>
        </button>
      </div>
    </nav>
  </header>


  <%- include('partials/registerModal') %>

  <%- include('partials/loginModal') %>
  <!-- add main container here -->
  <main class="landing-page">

    <div class="welcome-container">
      <p>Welcome to Kevin Bacout!</p>
      <a class="btn btn-light" href="#menu">Order Now!</a>
    </div>
  </main>
  <div class="container py-5" id="menu">
    <div class="row">
      <div class="col-lg-10 mx-auto col-12 text-center mb-3">
        <h1 class="mt-0 mb-3 text-info">Our Menu</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
          cupiditate nostrum impedit minus corporis. Exercitationem nesciunt
          excepturi dolorem est sint, cumque sed enim corporis ab, omnis
          neque, sit vitae iure.
        </p>
      </div>
      <div id="menu-container">
        <div class="col-12 mt-4">
          <h3 class="text-center">Starters</h3>
          <hr class="accent my-5" />
        </div>
        <div class="card-columns col-12" id="starter-container">
        </div>
        <div class="col-12 mt-4">
          <h3 class="text-center">Mains</h3>
          <hr class="accent my-5" />
        </div>
        <div class="card-columns col-12" id="main-container">
        </div>
        <div class="col-12 mt-4">
          <h3 class="text-center">Deserts</h3>
          <hr class="accent my-5" />
        </div>
        <div class="card-columns col-12" id="desert-container">
        </div>
        <div class="col-12 mt-4">
          <h3 class="text-center">Drinks</h3>
          <hr class="accent my-5" />
        </div>
        <div class="card-columns col-12" id="drink-container">
        </div>
        <div class="col-12 mt-4">
          <h3 class="text-center">Recently Ordered</h3>
          <hr class="accent my-5" />
        </div>
        <div class="card-columns col-12" id="history-container">
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/cartModal') %>

  <button id="scroll-btn"><i class="fa fa-shopping-cart"></i>
    <span class="badge badge-pill badge-danger cart-number">0</span>
  </button>
  <footer class="footer-basic-centered">
    <img src="https://www.biography.com/.image/t_share/MTE5NDg0MDU1MTkwNjAzMjc5/kevin-bacon-9542173-1-402.jpg" alt=""
      class="img-thumbnail">
    <p class="footer-company-motto">"Don't Bac-in... Bac-out."</p>

    <p class="footer-links">
      <a href="/">Home</a>
      ·
      <a href="#menu">Menu</a>
      ·
      <a href="#">Pricing</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Kevin Bacout &copy; 2020</p>

  </footer>

</body>

</html>
